.navigation {
	display: block;
	padding: .5rem;
}

.menu {
	display: flex;
  justify-content: center;

	li {
		padding: .5rem .5rem;

		a {
			padding: 2rem .5rem;
			color: $color__blue;
			width: 100%;
			height: 100%;
			font-size: 1.6rem;
			letter-spacing: 1px;
		}

		a:hover {
      color: $color__orange;
		}
	}
}

@media screen and (max-width: 500px) {
  .menu {
  	display: block;
}
  	li {
      width: 100%;
  		padding: .5rem .5rem;
    }
}
