body {
	font-size: 1.6rem;
	font-family: "Verdana", sans-serif;
	font-weight: 100;
	line-height: 2.4rem;
	color: #444;
}

h1 {
	font-size: 3rem;
	letter-spacing: 4px;
	font-weight: 100;
	margin-bottom: 1rem;
	color: #22c1c3;
}

h2 {
	font-size: 2.2rem;
	margin-bottom: 1rem;
	color: #22c1c3;
}
