body {
	font-size: 1.6rem;
	font-family: "Helvetica", "Verdana", sans-serif;
	font-weight: 100;
	line-height: 2.4rem;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	color: #22c1c3;
}

h1 {
	//display: block;
	font-size: 3.2rem;
	line-height: 4rem;
	letter-spacing: 4px;
	font-weight: 100;
	margin-bottom: 2rem;
	color: #22c1c3;
}

@media screen and (max-width: 900px) {
		h1 {
			font-size: 2.2rem;
			letter-spacing: 2px;
		}
	}

h2 {
	font-size: 1.6rem;
	text-transform: uppercase;
}

p {
	margin-bottom: 1rem;
}

em {
	font-style: italic;
}

.site-title {
	display: block;
	font-size: 3rem;
	letter-spacing: 4px;
	font-weight: 100;
	margin-bottom: 1rem;
	color: #22c1c3;
}

@media screen and (max-width: 900px) {
		.site-title {
			font-size: 2rem;
			letter-spacing: 2px;
	}
	}

a,
a:visited {
	color: #22c1c3;
	text-decoration: none;
}

a:hover {
	color: orange;
}

.content-box ul,
main ul {
	list-style: disc;
	margin-bottom: 1.6rem;
	margin-left: 2rem;
}

.about {
	color: #22c1c3;
	font-size: 2rem;
	line-height: 2.8rem;

	a {
		text-decoration: underline;
	}
}
